*, *::after, *::before {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    position: fixed;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
}
.navbar-links ul {
    display: inline-flex;
    list-style: none;

}
.navbar-links li {
    padding: 5%;
}
.navbar-links a {
    text-decoration: none;
}
.navbar-links a:hover {
    text-decoration: underline;
}
.nav-title {
    font-size: 3em;
}